# Ignore all files
*

# But not these patterns:
!.gitignore
!Salesforce/**
!*.robot
!*.resource
!*.txt
!*.md
!testdata/
!resources/

# Optionally, ignore output and result folders
output/
Testresult/
*.log
*.xml
*.db
*.xlsx